/* dc_cotizador css */


/*espacio entre items del form */
.btQuoteItem{
	height: 25px;
}

/*version caja de cotizacion mobile */

@media (max-width: 1072px) {
  .cotizador_row_mobile {
    display: inherit;
  }

  .cotizador_center_box{
  	 	height: auto;
	    margin: 0 auto;
	    padding: 20px !important;
	    position: relative !important;
  }
}


@media (max-width: 480px) {

  .cotizador_center_box{
  	 	left: 30px;
  	 	width: 310px !important;
  	 	top: -120px !important;
  }
}

@media (min-width: 1073px) {
  .cotizador_row_mobile {
    display: none;
  }
}

/*version caja de cotizacion desktop*/
@media (max-width: 1072px) {
  .cotizador_row_desktop {
    display: none;
  }
}

@media (max-width: 420px) {
  .btSlidePane {
    margin-left: -60px;
  }
}



@media (min-width: 1073px) {
  .cotizador_row_desktop {
    display: inherit;
  }
}

.cotizador_col_desktop{

}

@media (max-width: 1072px) {
  .cotizador_col_desktop {
    width: 1000px;
  }
}


.cotizador_row_table {
  height: 230px !important;
}
@media (max-width: 991px) {
  .cotizador_row_table {
    height: 270px !important;
  }
}


/* select */

/* Create three equal columns that floats next to each other */
.dc_column {
  box-sizing: border-box;
  float: left;
  padding: 10px;
  height: 50px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.dc_row:after {
  box-sizing: border-box;
  content: "";
  display: table;
  clear: both;
}


.trigger {
	border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: thin;
    height: 35px;
    padding: 5px !important;
    background-color : transparent !important;
    color : white !important;
}

.trigger:after {
	top: 9px !important;
}

.dc_input {
	border-style: solid !important;
    border-color: white !important;
    border-radius: 3px;
    border-width: thin;
    height: 35px;
    padding: 5px !important;
    background-color : transparent !important;
    color : white !important;
    width: 100%;
}

.dc_input:after {
	top: 9px !important;
  width: 100%;
}

.dc_separador {
    padding-top: 30px !important;
}

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid white;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}



.dc_container{
  padding: :30px;
}

.dc_box{
  background: rgba(0, 0, 0, 0.5);
  color: #fff; 
  top: 30px;
}

.dc_form{
  position: relative;
  z-index: 2; 
  padding: 40px;
  padding-top: 0px;
}

.dc_main_title{
  color:#5bc4ee;
}

.dc_form .select2-selection{
  zoom: 70%;
  font-size: 20px;
}

.dc_label{
  margin-top:6px; 
}

.dc_wa{
  padding-left: 20px !important;
  padding-right: 20px !important;
  text-align: center;
}